.page-header
  - if current_user_admin?
    = link_to new_event_path, class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
      New Event
  %h1.text-body-logo.text-center Bidtasctic Events!

.event-box
  - @events.each do |event|
    .row
      .offset-md-3.col-md-6
        = link_to event_items_path(event), class: "btn btn-info btn-block event-button" do
          %span.event-button-text= event.location
