.container-fluid.container-listings
  .row
    - @items.each do |item|
      .col-sm-6.col-md-6.col-xs-6
        = link_to item do
          .img-thumbnail{:style => "border:none; background:white;"}
            .image-container
            = image_tag attachment_url(item, :photo), size: "120x120", class: "item-image"
          .row
            .col-md-6.col-xs-6
              .item-basic-info
                = item.name
            .col-md-6.col-xs-6
              .item-final-bid
                $
                = item.final_bid
