.page-header
  = link_to new_item_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Item
  %h1 Listing items

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Description
        %th Photo
        %th Min bid
        %th Bid increment
        %th Final bid
        %th Category
        %th User
        %th{colspan: 3}

    %tbody.search-results
      = render @items
