@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sansita+One');

.navbar-brand {
  font-family: 'Sansita One', cursive;
  font-size: 30px;
  color: #d9534f;
}

.navbar-inverse .navbar-brand {
  color: #d9534f;
}
