@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sansita+One');

.text-body-logo {
  font-family: 'Sansita One', cursive;
}

.social-login-button {
  margin-top: 7px;
}

.fa-twitter:before {
  font-size: 25px;
}

.fa-facebook:before {
  font-size: 25px;
}

.social-login-text {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}

/* iPhone 5 (portrait)----------- */
// @media only screen
//   and (min-device-width: 320px)
//   and (max-device-height: 568px)
//   and (orientation: portrait) {
//
// }

/* iPhone 6 (portrait)----------- */
// @media only screen
//   and (min-device-width: 375px)
//   and (max-device-height: 667px)
//   and (orientation: portrait) {
//
// }

/* iPhone 6+ (portrait) ----------- */
// @media only screen
//   and (min-device-width: 414px)
//   and (max-device-height: 736px)
//   and (orientation: portrait) {
//
// }

/* iPads (portrait and landscape) ----------- */
// @media only screen
//   and (min-device-width: 768px)
//   and (max-device-width: 1024px) {
//
// }

/* Desktops and laptops ----------- */
@media only screen
  and (min-width: 1224px) {
  .social-box {
    padding-left: 33  %;
  }
}

/* Samsung Galaxy S5 ----------- */
// @media only screen
//   and (min-device-width: 360px)
//   and (max-device-height: 640px)
//   and (orientation: portrait) {
//
// }
