@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

.details {
  margin-top: 2%;
}

.dollar {
  font-size: .8em;
}

.bidding {
  font-family: Oswald;
}

.current_bid {
  margin-top: 10px;
  font-weight: bold;
  color: #a8a8a8;
}

.bid_button {
  color: white;
  font-family:'Open Sans', sans-serif;
  background-color: black;
  border-radius: 0;
  width: 110px;
}
