@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

.show-img {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.dollar {
  font-size: .8em;
}

.bid_number {
  font-family: Oswald;
}
